.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #333;
	}

	&--visible {
		display: flex;
	}
}

@media (min-width: 768px) {
	.scroll-to-top {
		width: 3em;
		height: 3em;
	}
}
