.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	&--nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&--small {
		max-width: 960px;
	}
}
