@use 'abstracts/colors' as *;
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 2rem;
	background-color: $white;
	z-index: 1000;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: rgba($black, 0.1);
		left: 0;
		bottom: 0;
	}

	&__logo {
		font-size: 3.5rem;
		z-index: 500;
		a {
			display: flex;
			align-items: center;
			color: #414141;
			font-weight: 500;
		}
		&-img {
			margin-right: 0.1em;
			width: 3.5rem;
			height: 3.5rem;
		}
	}

	&__links {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: $white;
		transform: translateX(102%);
		font-size: 2.5rem;
		transition: transform 0.5s cubic-bezier(0.65, 0.85, 0.36, 1);
		z-index: 10;

		&--active {
			transform: translateX(0);
		}

		&-desktop {
			display: none;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5em;
		padding: 0.5em 1.2em;
		color: $black;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover,
		&.active {
			background-color: $black;
			color: $white;
		}

		&.nav-links-animation {
			animation: navLinksAnimation 1s both;
		}
	}
}

@keyframes navLinksAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
